
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/PageLayout.cshtml";
}

<div class="ms-4">
    <h3>THÔNG TIN SINH VIÊN</h3>
    <p>Mã Sinh Viên [63135967]</p>
    <p>Họ và Tên : [Nguyễn Tuấn Tú]</p>
    <p>Lớp [63.CNTT-5]</p>
    <p>Ngày Hoàn Thành Deadline [3/11/2023] </p>
</div>

