@model NguyenTuanTu.Models.Product

@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin chi tiết sản phẩm</h2>

<div>
    <strong>Tên sản phẩm:</strong> @Model.Name
</div>
<div>
    <strong>Ảnh sản phẩm:</strong>
    <img src="~/Public/@Model.ImageUrl" alt="Product Image" />
</div>
<div>
    <strong>Giá tiền:</strong> @Model.Price.ToString("C")
</div>
