@model List<NguyenTuanTu.Models.Product>

@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách sản phẩm</h2>

<ul>
    @foreach (var product in Model)
    {
        <li>
            @Html.ActionLink(product.Name, "Details", new { id = product.Id })
        </li>
    }
</ul>

